* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgba(0, 104, 108, 0.817);
  background-image: url(./images/background-image.png);
  background-size: 100%;
  background-attachment: fixed;
}

header {
  /* position: sticky;
  top: 0; */
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 0.3rem;
}

.head_er {
  position: sticky;
  top: 0;
  opacity: 0.75;
}
.head_er:hover {
  opacity: 1;
}

img {
  width: 12.5rem;
}

header > h1 {
  justify-self: start;
  align-self: start;
  padding: 0.5rem;
  font-size: 3rem;
  margin-left: 1.5rem;
  font-weight: bolder;
}
header > nav {
  justify-self: end;
  align-self: center;
  padding: 1rem;
}
a {
  color: white;
  text-decoration: none;
  border: 3px solid #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: 1.875rem;
}
a:hover {
  color: white;
  text-decoration: none;
  padding: 0.6rem 0.5rem;
  border: 3px solid rgb(0, 164, 201);
  background-color: rgb(44, 44, 44);
}
header > nav > a {
  color: white;
  text-decoration: none;
  border: 3px solid #ffffff;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  margin-left: 3rem;
  font-size: 1.1rem;
}

header > nav > a:nth-child(4) {
  margin-right: 1rem;
}

header > nav > a:hover {
  color: white;
  text-decoration: none;
  border: 3px solid rgb(0, 164, 201);
  padding: 0.9rem 1rem;
  border-radius: 1rem;
  background-color: rgb(44, 44, 44);
}
.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-auto-rows: minmax(2rem, auto);
  font-size: 1.2rem;
  place-items: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.grid-header {
  display: grid;
  justify-items: center;
  background-color: rgb(34, 94, 102);
  color: white;
  border-bottom: 3px solid black;
  padding: 7px;
  font-size: 1.3rem;
  margin-top: 0px;
  border-radius: 1rem 1rem 0 0;
}

.content {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  background-color: rgb(119, 219, 223);
  padding: 1rem;
  font-weight: 500;
  /* color: rgba(255, 255, 255, 0.831); */
  border-radius: 0 0 1rem 1rem;
}
.content p {
  padding: 1rem 1.5rem;
  border-left: 2px solid black;
  height: 90%;
}
.content {
  background-color: ;
}

/* .content:nth-child(1) {
  margin-top: 10rem;
} */

article {
  border: 0.6rem solid rgb(39, 39, 39);
  width: 80%;
  border-radius: 1.6rem;
}

footer {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr;
  background-color: rgb(66, 66, 66);
  color: rgb(255, 255, 255);
  padding: 1rem;
}

footer > nav {
  font-size: 14px;
  justify-self: end;
  margin-right: 0rem;
  padding: 1rem;
  border-left: 3px solid rgb(39, 39, 39);
}

footer > p:nth-child(1) {
  border-right: 3px solid rgb(39, 39, 39);
  justify-self: start;
  /* align-self: start; */
  padding-left: 1rem;
  padding-right: 1rem;
}
footer > p:nth-child(2) {
  justify-self: center;
  align-self: start;
  padding-left: 1rem;
  margin-left: 0;
}

.content > .cimage {
  align-self: center;
  padding-right: 1rem;
}

.hidenseek {
  visibility: hidden;
  display: inline;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1600px) and (min-width: 500px) {
  * {
    font-size: 16px;
  }
  header > h1 {
    justify-self: start;
    align-self: start;
    padding: 0.5rem;
    font-size: 2.5rem;
    margin-left: 1rem;
    font-weight: bolder;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    padding: 1rem;
  }
}

@media screen and (max-width: 415px) {
  * {
    font-size: 5px;
  }

  header > h1 {
    font-size: 2rem;
  }

  header > nav {
    justify-self: end;
    align-self: center;
    padding: 0.2rem;
  }
  a {
    color: white;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin-left: 0rem;
  }

  a:hover {
    color: white;
    text-decoration: none;
    border: 1px solid rgb(201, 107, 0);
    padding: 0.3rem;
    border-radius: 1rem;
    font-weight: bold;
    background-color: rgb(44, 44, 44);
  }
  header > nav > a {
    color: white;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 0.3rem;
    border-radius: 1rem;
    margin-left: 1rem;
    font-size: 1.1rem;
  }

  header > nav > a:nth-child(4) {
    margin-right: 1rem;
  }

  header > nav > a:hover {
    color: white;
    text-decoration: none;
    border: 3px solid rgb(201, 107, 0);
    padding: 0.4rem;
    border-radius: 1rem;
    font-weight: bold;
    background-color: rgb(44, 44, 44);
  }
  footer > nav {
    font-size: 1px;
    justify-self: end;
    margin-right: 0rem;
    padding: 0.3rem;
    border-left: 1px solid rgb(39, 39, 39);
  }
}
